<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>MY STORE : Home Page</title>
</head>

<body>
<h2>MY STORE DEMO </h2>
<hr>

<p>
    Welcome to MY STORE Home Page
</p>
<hr>

<!-- Display username and  role -->
<p>
<!--    User: <span sec:authentication="principal.username"></span>-->
<!--    <br><br>-->
<!--    Role(s): <span sec:authentication="principal.authorities"></span>-->

    User: <span sec:authentication="name"></span>
    <br><br>
    Role(s): <span sec:authentication="principal.authorities"></span>
</p>

<!-- *** Add a link to point to each role path ***
* /sellers.. : this is for the sales
* sec:authorize="hasRole('SALE') : Only display when user has a sales role
-->
<div sec:authorize="hasRole('SALE')">
    <p>
        <a th:href="@{/sellers}">Sale Meeting</a>
        (Only for Sale Peeps)
    </p>
</div>

<!-- * sec:authorize="hasRole('ADMIN') : Only display when user has a admin role -->
<div sec:authorize="hasRole('ADMIN')">
    <!-- *** Add a link to point to each role path **** /systems.. : this is for the admin -->
    <p>
        <a th:href="@{/systems}">IT Systems Meeting</a>
        (Only for Admin Peeps)
    </p>
</div>
<hr>

<!-- Add Logout button -->
<form action="" th:action="@{/logout}" method="POST" class="form-horizontal">
    <input type="submit" value="Logout"/>
</form>

</body>
</html>