<!DOCTYPE html>
<!-- NOTE :
xmlns:th="http://www.thymeleaf.org"
*** XML Namespace is a unique identifier for XML elements, attributes etc...
- In this case, we use the XML namespace for Thymeleaf(the "th": attributes)
- The XML Namespace does not connect to the internet
- Just a unique identifier that is configured in the Thymeleaf JAR file
-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Custom Login Page</title>

    <style>
        .failed {
            color: red;
        }
    </style>
</head>

<body>

<h3>My Custom Login Page</h3>

<form action="#" th:action="@{/authenticateTheUser}" method="POST">

    <!-- Check for login error :  Modify plain-login form &ndash;&gt; if error then show message-->
    <div th:if="${param.error}">
        <i class="failed">Sorry! You entered invalid username/password.</i>
    </div>

    <p>
        User name : <input type="text" name="username"/>
    </p>
    <p>
        Password : <input type="text" name="password"/>
    </p>

    <input type="submit" value="Login"/>
</form>

</body>
</html>